<h1>All posts</h1>
<table class="table">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @posts %>
</table>
<%= link_to 'New post', new_post_path, id: 'new_post_link', remote: true  %>
